* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #2a2c39;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

/* Mobile Styles */
/* header styling */
header {
  padding: 20px;
  background-color: #2a2c39;
  justify-content: space-between;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header h1 {
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  width: 100%;
}

header nav {
  padding-top: 15px;
  margin-right: 20px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 25px;
}

header ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px;
}

header a {
  text-decoration: none;
  color: white;
  font-size: 12px;
}
/* hero image */
.hero {
  height: 400px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  position: relative;
  background-image: url("/assets/webdev.jpg");
}

/* about section styling */
.about {
  display: flex;
  color: #ffffff;
  margin-bottom: 20px;
}

.about {
  padding-top: 20px;
}

.about .heading {
  text-decoration: underline;
  width: 20%;
  padding-left: 20px;
  border-right: 2px solid white;
}
.about .description {
  padding: 0 20px;
  width: 80%;
}

/* work section styling */
.work {
  display: flex;
  color: #ffffff;
  margin-bottom: 20px;
}
.work .heading {
  text-decoration: underline;
  padding-left: 20px;
  width: 20%;
  border-right: 2px solid white;
  flex-direction: inherit;
}

.work ul {
  list-style: none;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  gap: 10px 10px;
  padding: 0 20px;
}

.work li {
  width: calc(50% - 5px);
  border-radius: 3px;
  border: 3px solid #2a2c39;
  position: relative;
  height: 200px;
  overflow: hidden;
}

.work li:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #595d79;
  opacity: 0.5;
  z-index: 1;
  top: 0;
  left: 0;
}

.work .project-1 {
  width: 100%;
  min-height: 300px;
}

.work img {
  width: 100%;
}

.work p {
  position: absolute;
  z-index: 2;
  border: 5px solid #2a2c39;
  background-color: white;
  padding: 10px;
  left: -5px;
  bottom: 20px;
}

.work li:hover::after {
  transition: all 0.2s ease-out;
  opacity: 0;
  z-index: 0;
}

.work li img {
  object-fit: cover;
}

/* Contact me styling */
.contact {
  display: flex;
  margin-bottom: 20px;
}
.contact .heading {
  text-decoration: underline;
  padding-left: 20px;
  width: 20%;
  border-right: 2px solid white;
  flex-direction: inherit;
  color: #ffffff;
}
.contact ul {
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  padding: 0 20px;
}
.contact a {
  color: #ffffff;
}

/* Phones - Tablets */
@media screen and (min-width: 568px) {
}

/* Tablets - Small Desktop */
@media screen and (min-width: 768px) {
  header {
    flex-wrap: nowrap;
  }

  header h1 {
    text-align: left;
    font-size: 36px;
    width: unset;
  }

  header a {
    font-size: 16px;
  }
}

/* Small Desktop and Up */
@media screen and (min-width: 1400px) {
  header h1 {
    font-size: 52px;
  }

  header a {
    font-size: 24px;
  }
}
